{% macro listing(title, items) %}
<section class="section">
  <div class="container container-narrow">
    <h2 class="list-title">{{ title }}</h2>
    <ol class="list">
      {% for item in items %}
      {% if not loop.first %}<li class="list-sep" aria-hidden="true"></li>{% endif %}
      <li class="list-item">
        <a class="list-link" href="{{ item.href }}"><span class="list-item-title">{{ item.title }}</span></a>
      </li>
      {% endfor %}
    </ol>
  </div>
</section>
{% endmacro listing %}
