{% macro listing(title, items, type) %}
<section class="section">
  <div class="container is-max-desktop">
    <div class="menu">
      <p class="menu-label">{{ title }}</p>
      <ul class="menu-list">
        {% for item in items %}
        <li>
          <a href="/{{ type }}/{{ item.name }}"
            ><span class="is-family-monospace"
              >{{ item.date }}</span> &ndash; {{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endmacro listing %}
