{% macro back_breadcrumb(current) %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li class="is-active"><a href="#" class="has-text-grey" aria-current="page">{{ current }}</a></li>
  </ul>
</nav>
{% endmacro back_breadcrumb %}

{% macro section_header(title, current) %}
<section class="section is-medium">
  <div class="container is-max-desktop">
    <h1 class="title is-4">{{ title }}</h1>
    {{ self::back_breadcrumb(current=current) }}
  </div>
</section>
{% endmacro section_header %}

{% macro back_link() %}
<a href="/" class="has-text-grey">&larr; Back to Home</a>
{% endmacro back_link %}

{% macro entry_header(title, current, breadcrumb_text) %}
<div class="columns is-vcentered">
  <div class="column">
    <h1 class="title is-5 mb-0 pb-2">{{ title }}</h1>
    {{ self::back_breadcrumb(current=breadcrumb_text | default(value=title)) }}
  </div>
  {% if user %}
  <div class="column is-narrow">
    <div class="buttons">
      <a href="/edit?entry={{ slug }}" class="button">Edit</a>
      <a href="/upload?entry={{ slug }}" class="button">Upload</a>
    </div>
  </div>
  {% endif %}
</div>
{% endmacro entry_header %}
