{% macro back_breadcrumb(current) %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{{ base_path }}/">Home</a></li>
    <li class="breadcrumb-active"><a href="#" class="text-muted" aria-current="page">{{ current }}</a></li>
  </ul>
</nav>
{% endmacro back_breadcrumb %}

{% macro back_link() %}
<a href="{{ base_path }}/" class="text-muted">Back to Home</a>
{% endmacro back_link %}

{% macro page_header(title, current, breadcrumb_text, category, slug, user) %}
<div class="page-header">
  <div>
    <h1 class="title mb-0 pb-2">{{ title }}</h1>
    {{ self::back_breadcrumb(current=breadcrumb_text | default(value=title)) }}
  </div>
  {% if user %}
  <div class="page-header-actions">
    <a href="{{ base_path }}/edit?category={{ category }}&entry={{ slug }}" class="btn">Edit</a>
    <a href="{{ base_path }}/upload?category={{ category }}&entry={{ slug }}" class="btn">Upload</a>
  </div>
  {% endif %}
</div>
{% endmacro page_header %}
