{% macro error_notification() %}
<div class="notification is-danger" x-show="error" x-cloak>
  <button class="delete" type="button" x-on:click="error=null"></button>
  <p x-text="error"></p>
</div>
{% endmacro error_notification %}
