{% macro error_notification() %}
<div class="notification is-danger is-light" x-show="error" x-cloak>
  <button class="delete" x-on:click="error=''"></button>
  <p x-text="error"></p>
</div>
{% endmacro error_notification %}
