<!doctype html>
<html lang="en" x-data="theme()" :data-theme="dark ? 'dark' : 'light'">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>{% block title %}{{ site_title }}{% endblock title %}</title>
    <meta name="description" content="A rather humble documentation site." />
    <link rel="icon" type="image/x-icon" href="{{ base_url }}/img/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ base_url }}/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ base_url }}/img/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ base_url }}/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ base_url }}/img/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ base_url }}/img/android-chrome-512x512.png">
    <link rel="manifest" href="{{ base_url }}/img/site.webmanifest">
    <link rel="stylesheet" href="{{ base_url }}/css/bulma.min.css" />
    <style>
      .content h1 { font-size: 1rem; text-decoration: line-through; }
      .content h2 { font-size: 1.2rem; }
      .content h3 { font-size: 1.1rem; }
      .content h4,
      .content h5,
      .content h6 { font-size: 1rem; }
      .content img { opacity: 0.77; }
    </style>
    {% block head %}{% endblock head %}
    <script defer src="{{ base_url }}/js/alpine.min.js"></script>
    <script>
      function theme() {
        const mq = window.matchMedia("(prefers-color-scheme: dark)");
        return {
          dark: mq.matches,
          init() {
            mq.addEventListener("change", (e) => {
              this.dark = e.matches;
            });
          },
        };
      }
    </script>
  </head>
  <body class="is-flex is-flex-direction-column">
    <main>{% block body %}{% endblock body %}</main>

    {% include "_footer.html" %}
  </body>
</html>
