<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
        <p class="title is-5">{{ site_title }}</p>
        <p class="has-text-grey">A rather humble documentation site.</p>
      </div>
      <div class="column is-5">
        <p class="title is-6">Links</p>
        <ul>
          <li><a href="/" class="has-text-grey">Home</a></li>
          {% if user %}
          <li><a href="/edit" class="has-text-grey">New Page</a></li>
          <li><a href="/upload" class="has-text-grey">Upload File</a></li>
          <li><a href="/profile" class="has-text-grey">Profile</a></li>
          <li><a href="/sign-out" class="has-text-grey">Sign Out</a></li>
          {% else %}
          <li><a href="/sign-in" class="has-text-grey">Sign In</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <hr />
    <div class="level has-text-grey-light">
      <div class="level-left">
        <p>
          &copy; 2026 Contributors 🥥 &mdash;
          licensed
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
        </p>
      </div>
    </div>
  </div>
</footer>
