<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <title>{% block title %}{{ site_title }}{% endblock title %}</title>

    <link rel="stylesheet" href="{{ base_url }}/bulma-1.0.4/css/bulma.css" />
    <script defer src="{{ base_url }}/alpine-3.15.8/cdn.min.js"></script>
    {% block head %}{% endblock head %}
  </head>
  <body>
    {% block body %}{% endblock body %}
  </body>
</html>
