{% import "macros/_nav.html" as nav %}
{% extends "_base.html" %}
{% block title %}{{ page_title }} - {{ site_title }}{% endblock title %}
{% block body %}
<section class="section">
  <div class="container container-narrow">
    {{ nav::page_header(title=page_title, breadcrumbs=breadcrumbs, actions=page_actions) }}
    <hr />
    <div class="content">{{ content | safe }}</div>
    {% if files | length > 0 %}
    <hr />
    <h2 class="list-title">Files</h2>
    <ol class="list">
      {% for file in files %}
      {% if not loop.first %}<li class="list-sep" aria-hidden="true"></li>{% endif %}
      <li class="list-item">
        <a class="list-link" href="{{ file.href }}">
          <span class="list-item-title">{{ file.title }}</span>
        </a>
      </li>
      {% endfor %}
    </ol>
    {% endif %}
  </div>
</section>
{% endblock body %}
{% block footer_actions %}
{{ nav::confirm_link(
  label="Delete This Entry", confirm_label="Confirm Delete?",
  url=base_path ~ "/" ~ category ~ "/" ~ entry ~ "/delete"
) }}
{% endblock footer_actions %}
