{% import "macros/_nav.html" as nav %}
{% extends "_base.html" %}
{% block title %}{{ code }} - {{ site_title }}{% endblock title %}
{% block body %}
<section class="section">
  <div class="container">
    <div class="error-wrap">
      <div class="text-center">
        <h1 class="title title-xl">{{ code }}</h1>
        <p class="subtitle">{{ reason }}</p>
        <p class="text-muted">{{ message }}</p>
        {{ nav::back_link() }}
      </div>
    </div>
  </div>
</section>
{% endblock body %}
