{% extends "base.html" %}
<!-- -->
{% block title %}{{ code }} - {{ site_title }}{% endblock title %}
<!-- -->
{% block body %}
<!-- -->
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half has-text-centered">
        <h1 class="title is-1">{{ code }}</h1>
        <p class="subtitle is-4 has-text-grey">{{ reason }}</p>
        <p class="has-text-grey">{{ message }}</p>
        {{ ui::back_link() }}
      </div>
    </div>
  </div>
</section>
<!-- -->
{% endblock body %}
