{% import "macros/_nav.html" as nav %}
{% extends "layout/_layout.html" %}
{% block title %}{{ file }} - {{ site_title }}{% endblock title %}
{% block content %}
<section class="section">
  <div class="container container-narrow">
    {{ nav::page_header(title=file, breadcrumbs=breadcrumbs, actions=page_actions) }}
    <hr />
    <div class="block">
      <p><span class="text-muted">Editor:</span> {{ file_editor }}</p>
      <p><span class="text-muted">Last modified:</span> {{ file_date }}</p>
      <p><span class="text-muted">Size:</span> {{ file_size }} bytes</p>
    </div>
    <div class="btn-group">
      <a
        class="btn btn-primary"
        href="{{ base_path }}/{{ entry_id }}/file/{{ file }}"
      >Download</a>
      <a class="btn" href="{{ base_path }}/{{ entry_id }}/README.md">Back to Entry</a>
    </div>
  </div>
</section>
{% endblock content %}
{% block footer_actions %}
{{ nav::confirm_link(
  label="Delete This File", confirm_label="Confirm Delete?",
  url=base_path ~ "/" ~ entry_id ~ "/delete/" ~ file
) }}
{% endblock footer_actions %}
