{% extends "base.html" %}
<!-- -->
{% block title %}{{ site_title }}{% endblock title %}
<!-- -->
{% block body %}
<!-- -->
<section class="hero">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title is-3">{{ site_title }}</p>
      <p class="subtitle is-6 has-text-grey">
        A rather humble documentation site
      </p>
    </div>
  </div>
</section>
<!-- -->
{{ ui::listing(title="Pages", items=pages, type="view") }}
<!-- -->
{{ ui::listing(title="Files", items=files, type="file") }}
<!-- -->
{% endblock body %}
