{% extends "base.html" %} {% block title %}{{ site_title }}{% endblock title %}
{% block body %}

<section class="section">
  <div class="container is-max-desktop">
    <div class="level is-mobile">
      <div class="level-left"><h2 class="title is-4">Pages</h2></div>
      <div class="level-right">
        <span class="tag is-medium">{{ pages | length }}</span>
      </div>
    </div>
    {% if pages %}
    <div class="columns is-multiline">
      {% for p in pages %}
      <div class="column is-half">
        <a href="/view/{{ p.name }}" class="card">
          <div class="card-content">
            <p class="title is-5">{{ p.title }}</p>
            <p class="subtitle is-6 has-text-grey">{{ p.date }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="has-text-centered">
      <p class="has-text-grey">No pages yet</p>
    </div>
    {% endif %}
  </div>
</section>

<section class="section">
  <div class="container is-max-desktop">
    <div class="level is-mobile">
      <div class="level-left"><h2 class="title is-4">Files</h2></div>
      <div class="level-right">
        <span class="tag is-medium">{{ files | length }}</span>
      </div>
    </div>
    {% if files %}
    <div class="columns is-multiline">
      {% for f in files %}
      <div class="column is-half">
        <a href="/file/{{ f.name }}" class="card">
          <div class="card-content">
            <p class="title is-5">{{ f.title }}</p>
            <p class="subtitle is-6 has-text-grey">{{ f.date }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="has-text-centered">
      <p class="has-text-grey">No files yet</p>
    </div>
    {% endif %}
  </div>
</section>
{% endblock body %}
