{% import "macros/_listing.html" as listing %}
{% extends "_base.html" %}
{% block title %}{{ site_title }}{% endblock title %}
{% block body %}
<section class="hero">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title is-3">{{ site_title }}</p>
      <p class="subtitle is-5 has-text-grey">
        A rather humble documentation site.
      </p>
    </div>
  </div>
</section>
{{ listing::listing(title="Entries", items=entries, type="entry") }}
{% endblock body %}
