{% extends "base.html" %}
<!-- -->
{% import "macros.html" as ui %}
<!-- -->
{% block title %}Profile - {{ site_title }}{% endblock title %}
<!-- -->
{% block head %}
<script defer src="{{ base_url }}/js/profile.js"></script>
{% endblock head %}
<!-- -->
{% block body %} {{ ui::section_header(title="Profile", current="Profile") }}
<section class="section">
  <div class="container is-max-desktop">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="card" x-data="profileApp()" data-base-url="{{ base_url }}">
          <div class="card-content">
            <h1 class="title is-4">Profile</h1>
            <p class="subtitle is-6 has-text-grey">Manage your account</p>
            <div class="box has-background-info-light">
              <h2 class="title is-6">Invite Code</h2>
              <p class="has-text-grey is-size-7">
                Generate an invite code to share with others.
              </p>
              <div class="buttons">
                <button
                  class="button is-primary is-rounded"
                  x-on:click="generate"
                  :disabled="loading"
                  :class="{'is-loading':loading}"
                >
                  <span x-text="loading?'Generating...':'Generate'"></span>
                </button>
                <button
                  class="button is-rounded"
                  x-on:click="copy"
                  :disabled="!code"
                >
                  Copy
                </button>
              </div>
              <div x-show="code" x-cloak>
                <div
                  class="box is-family-monospace is-size-7"
                  x-text="code"
                ></div>
                <p class="is-size-7 has-text-success" x-show="copied" x-cloak>
                  Copied to clipboard!
                </p>
              </div>
              <p
                x-show="error"
                class="has-text-danger is-size-7"
                x-text="error"
                x-cloak
              ></p>
            </div>
          </div>
        </div>
        {{ ui::back_link() }}
      </div>
    </div>
  </div>
</section>
{% endblock body %}
