{% extends "base.html" %}
<!-- -->
{% block title %}Sign In - {{ site_title }}{% endblock title %}
<!-- -->
{% block head %}
<script defer src="{{ base_url }}/js/sign-in.js"></script>
{% endblock head %}
<!-- -->
{% block body %}
<!-- -->
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="has-text-centered">
          <h1 class="title is-4">Welcome back</h1>
          <p class="has-text-grey">Sign in to your account</p>
        </div>
        <div class="card">
          <div class="card-content">
            <form x-data="signInApp()" x-on:submit.prevent="submit">
              {{ ui::input(label="Username", id="username", model="username",
              required=true, placeholder="Your username",
              autocomplete="username") }} {{ ui::input(label="Password",
              id="password", model="password", required=true, placeholder="Your
              password", type="password", autocomplete="current-password") }} {{
              ui::error_notification() }}
              <div class="field">
                <div class="control">
                  <button
                    class="button is-primary is-fullwidth is-rounded"
                    type="submit"
                    :class="{'is-loading':loading}"
                    :disabled="loading"
                  >
                    Sign In
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <p class="has-text-centered has-text-grey">
          Don't have an account?
          <a href="/sign-up" class="has-text-primary"
            ><strong>Sign up</strong></a
          >
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
