{% extends "base.html" %}
<!---->
{% block title %}{{ page_title }}{% endblock title %}
<!---->
{% block body %}
<section class="section">
  <div class="container is-max-desktop">
    <h1 class="title is-3">{{ page_title }}</h1>
    <div class="content">{{ content | safe }}</div>
  </div>
</section>

<footer class="footer">
  <div class="content container is-max-desktop">
    <p><a href="/">← home</a></p>
    {% if user %}
    <p><a href="/edit?page={{ slug }}">edit</a></p>
    {% endif %}
  </div>
</footer>
{% endblock body %}
